html {
    width: 100%;
    height: 100%;
}
body {
    background-color: black;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.main {
    padding: 0;
    margin: 0;
}

.crawl {
    width: 100%;
    height: 100%;
    transform: rotate3d(1, 0, 0, 45deg);
    animation: crawler 10s linear;
    overflow: hidden;
}

@keyframes crawler {
    from {
        transform-origin: center bottom;
    }

    to {
        transform-origin: center top;
    }
}

h1 {
    text-align: center;
    color: yellow;
    font-size: 6em;
}

p {
    text-align: center;
    color: yellow;
    font-size: 5em;
}